# Useful links

https://color.adobe.com/create

http://mkweb.bcgsc.ca/tableviewer/

Settings
- labels
    - segment
        - parallel = no
        - font = normal
        - size = med
- row and column segments
    - thickness = thin
    - spacing = tight
    - radius = small
    - order = name
    - progression = desc
    - normalize = no
- constribution tracks
    - hide = true
    - expand = false
    - no stroke = true
- ribbon caps
    - hide ribbon caps by row = true
    - hide ribbon caps by col = true
    - no stroke = true
- image format
    - start seg at 3 = false
    - hide first tick label = true
    - no stroke on any elements = false
    - draw last tick = false
    - hide segment labels = false
    - hide absolute tick marks = true
    - hide all tick labels = true
    - hide relative tick marks = true
- colors
    - color ribbons by = row
    - color ribbons by value = no
- (Rest are default)

When loading in file, select
-  color 
    - col with row colors = true
    - row with col colors  = true
    - (rest are false)

# Dataset

In [86]:
import os
import numpy as np
import pandas as pd
from IPython.display import display

path = './data'

df = pd.read_csv(os.path.join(path,'scale_s2_2.csv'))
display(df)

,ppID,condition,anthropomorphism_before,animacy_before,likeability_before,intelligence_before,safety_1_before,safety_2_before,robot_role_before,closeness_before,...,gender,ethnicity,education,occupation,manufactring_experience,familiar_robot,robot_role_before_label,robot_role_after_label,change,condition.1
0,2,3,2.4,2.166667,3.8,4.0,3.000000,4.000000,1,2,...,1,1,8,Student,"Yes, 1 year",Somewhat,teammate,collaborator,0,3
1,3,3,1.8,1.333333,3.2,3.4,3.666667,3.666667,5,2,...,1,1,5,student,Yes two summers,not very,machine,machine,0,3
2,5,2,2.2,2.166667,4.0,3.2,3.000000,4.000000,3,2,...,1,1,4,Student,manufacturing internships in Japan for 2 summers,Quite familiar with robots,collaborator,teammate,0,2
3,6,2,2.2,1.833333,3.0,3.2,NaN,2.666667,5,2,...,1,1,8,Graduate Student,3D printing for 1 summer,semi-familiar,machine,collaborator,1,2
4,7,1,1.8,3.166667,3.6,3.4,3.666667,3.666667,5,2,...,1,1,4,Student/ University Student Assistant,"Yes, total of 6 months over 2 summers",semi-familiar,machine,machine,0,1
5,8,1,1.6,2.000000,3.2,3.6,2.666667,3.333333,3,4,...,1,1,5,Software Engineer,I have worked in a shop before in my high scho...,I am used to robots that have wheels. I have d...,collaborator,teammate,0,1
6,9,2,2.0,1.666667,3.4,2.8,3.666667,4.000000,4,2,...,1,1,8,Research Assistant,"Yes, 3 Years",Somewhat familiar,tool,teammate,1,2
7,12,3,3.8,3.000000,3.8,3.4,2.666667,2.666667,5,4,...,2,1,4,Student (College),"Yes, 2 summers",Familiar with machinery but not super familiar...,machine,tool,0,3
8,13,1,1.8,2.000000,3.4,3.6,3.000000,3.000000,4,4,...,2,1,8,student,"Yes, about a year",not very familiar,tool,colleague,1,1
9,14,2,3.0,3.000000,3.8,4.2,3.333333,3.333333,5,2,...,1,1,5,student,"Yes, a few months",Somewhat,machine,machine,0,2
10,15,2,1.8,2.333333,2.8,4.0,3.666667,4.000000,5,2,...,1,4,4,student and team member at Carson's Dining hall,I have worked with building robots for 4 years,I am very familiar with robots,machine,colleague,1,2
11,16,3,1.6,2.000000,3.6,2.8,3.000000,3.333333,4,2,...,1,1,5,Lab assistant,"Yes, worked in wood/metal workshop throughout ...","Fairly, programmed with Arduinos, ran many CNC...",tool,machine,0,3
12,17,3,3.0,1.833333,3.0,3.8,2.666667,2.000000,1,3,...,1,5,5,None,No,Worked with them a few times,teammate,teammate,0,3
13,18,2,3.2,3.500000,5.0,3.4,4.333333,4.333333,3,3,...,1,1,5,Student,"yes, 9 months","on a vex robotics team in highschool, worked i...",collaborator,collaborator,0,2
14,19,1,1.6,2.166667,3.6,3.0,2.333333,2.333333,1,3,...,1,1,5,Mechanical Engineering student,"No, but I've taken manufacturing-related classes",Not very,teammate,coleague,0,1
15,20,1,2.0,1.500000,3.8,2.8,3.666667,3.666667,4,2,...,1,5,8,NaN,No,not so much,tool,teammate,1,1
16,21,1,3.2,2.833333,3.6,3.4,3.000000,3.000000,1,3,...,2,5,8,Graduate student,No,Not very familiar,teammate,colleague,0,1
17,22,2,2.6,3.000000,3.4,4.0,2.666667,3.666667,1,3,...,1,1,5,"Student, part-time cook",no,Aware of their existence and general concepts ...,teammate,teammate,0,2
18,23,1,1.4,2.166667,3.6,4.0,3.666667,2.333333,5,2,...,1,5,8,Student,"Yes, for 6 months","I was in robotics club before, so pretty familiar",machine,teammate,1,1
19,24,3,3.6,3.666667,3.8,3.6,3.666667,4.000000,5,2,...,1,5,8,student,Yes 3 months,Not much experience,machine,teammate,1,3
20,25,1,3.6,3.000000,4.2,3.6,2.666667,3.333333,4,5,...,2,1,5,Student,"Yes, about a year and a half","Not extremely familiar, just know from a littl...",tool,collaborator,1,1
21,26,1,2.2,2.333333,3.6,3.2,2.333333,3.666667,4,3,...,1,1,5,Student,"yes, for a summer",somewhat,tool,teammate,1,1
22,27,2,2.8,2.333333,3.6,3.0,3.333333,3.666667,3,2,...,1,5,11,Research Assistant,No,OK,collaborator,collaborator,0,2
23,28,1,1.8,3.333333,4.8,4.4,2.666667,4.333333,2,3,...,1,1,5,Student,"Some, 5 months at Kimberly-Clark",Unfamiliar,colleague,teammate,0,1
24,29,3,2.4,3.166667,3.8,3.6,4.000000,4.000000,3,2,...,2,1,5,Student,"Yes, as a manufacturing engineering intern, 5 ...","Very familiar, have programmed and operated UR...",collaborator,collaborator,0,3
25,30,1,3.0,2.333333,3.8,3.0,2.333333,3.666667,5,1,...,1,5,5,Student,"Yes, about 3-4 months",Somewhat familiar,machine,tool,0,1
26,31,3,2.6,2.000000,4.0,3.0,3.000000,3.333333,1,3,...,1,1,5,NaN,NaN,"Not very familiar, some prototypes used in hig...",teammate,collaborator,0,3
27,32,3,2.4,2.000000,3.2,2.2,2.333333,3.333333,4,3,...,1,1,4,student,yes,3D printers only,tool,machine,0,3
28,33,2,3.0,3.333333,3.4,3.2,2.666667,3.666667,5,4,...,2,1,5,Student,"Yes, 8 months",Semi familiar,machine,teammate,1,2
29,34,2,2.6,3.500000,3.4,3.6,2.000000,4.333333,subordinate,6,...,1,5,4,student,one month internship,not at all,subordinate,colleague,1,2
30,35,3,2.2,2.333333,5.0,5.0,3.666667,3.666667,1,2,...,1,2,4,student,NaN,Not at all,teammate,teammate,0,3

In [87]:
labels = ['pooled','reciprocal','sequential']

code = {
    'tool': 0,
    'machine': 1,
    'subordinate': 2,
    'colleague': 3,
    'coleague': 3,
    'collaborator': 4,
    'teammate': 5
}

roles = df[['robot_role_before_label','robot_role_after_label']].applymap(lambda x: code[x])
conditions = df['condition'].apply(lambda x: labels[x-1])

data = pd.concat([conditions, roles], axis=1)
display(data)

     condition  robot_role_before_label  robot_role_after_label
0   sequential                        5                       4
1   sequential                        1                       1
2   reciprocal                        4                       5
3   reciprocal                        1                       4
4       pooled                        1                       1
5       pooled                        4                       5
6   reciprocal                        0                       5
7   sequential                        1                       0
8       pooled                        0                       3
9   reciprocal                        1                       1
10  reciprocal                        1                       3
11  sequential                        0                       1
12  sequential                        5                       5
13  reciprocal                        4                       4
14      pooled                        5                       3
15      pooled                        0                       5
16      pooled                        5                       3
17  reciprocal                        5                       5
18      pooled                        1                       5
19  sequential                        1                       5
20      pooled                        0                       4
21      pooled                        0                       5
22  reciprocal                        4                       4
23      pooled                        3                       5
24  sequential                        4                       4
25      pooled                        1                       0
26  sequential                        5                       4
27  sequential                        0                       1
28  reciprocal                        1                       5
29  reciprocal                        2                       3
30  sequential                        5                       5

In [88]:
pooled = data.loc[data['condition'] == 'pooled']
pooledResult = np.zeros((6,6))

for index, row in pooled.iterrows():
    pooledResult[row['robot_role_before_label'],row['robot_role_after_label']] += 1

display(pooledResult)
np.sum(pooledResult)

array([[0., 0., 0., 1., 1., 2.],
       [1., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 2., 0., 0.]])

11.0

In [89]:
sequential = data.loc[data['condition'] == 'sequential']
sequentialResult = np.zeros((6,6))

for index, row in sequential.iterrows():
    sequentialResult[row['robot_role_before_label'],row['robot_role_after_label']] += 1

display(sequentialResult)
np.sum(sequentialResult)

array([[0., 2., 0., 0., 0., 0.],
       [1., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 2., 2.]])

10.0

In [90]:
reciprocal = data.loc[data['condition'] == 'reciprocal']
reciprocalResult = np.zeros((6,6))

for index, row in reciprocal.iterrows():
    reciprocalResult[row['robot_role_before_label'],row['robot_role_after_label']] += 1

display(reciprocalResult)
np.sum(reciprocalResult)

array([[0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 1., 1., 1.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 2., 1.],
       [0., 0., 0., 0., 0., 1.]])

10.0

# Combined Plots

In [96]:

print("data data 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50") 
print("data data Tool Machine Subordinate Colleague Collaborator Teammate")


rowLabels = ['Tool','Machine','Subordinate','Colleague','Collaborator','Teammate']
conditionLabels = ['P','S','R']
colors = ['28,145,236', '236,28,36', '150,250,87']

for c in range(0,3):
    for i in range(0,6):
        s = "{} {}-{}".format(colors[c], rowLabels[i],conditionLabels[c])
        for j in range(0,6):
            if c == 0:
                s += " {}".format(int(pooledResult[i,j]))
            elif c == 1:
                s += " {}".format(int(sequentialResult[i,j]))
            else:
                s += " {}".format(int(reciprocalResult[i,j]))
        print(s)

data data 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50
data data Tool Machine Subordinate Colleague Collaborator Teammate
28,145,236 Tool-P 0 0 0 1 1 2
28,145,236 Machine-P 1 1 0 0 0 1
28,145,236 Subordinate-P 0 0 0 0 0 0
28,145,236 Colleague-P 0 0 0 0 0 1
28,145,236 Collaborator-P 0 0 0 0 0 1
28,145,236 Teammate-P 0 0 0 2 0 0
236,28,36 Tool-S 0 2 0 0 0 0
236,28,36 Machine-S 1 1 0 0 0 1
236,28,36 Subordinate-S 0 0 0 0 0 0
236,28,36 Colleague-S 0 0 0 0 0 0
236,28,36 Collaborator-S 0 0 0 0 1 0
236,28,36 Teammate-S 0 0 0 0 2 2
150,250,87 Tool-R 0 0 0 0 0 1
150,250,87 Machine-R 0 1 0 1 1 1
150,250,87 Subordinate-R 0 0 0 1 0 0
150,250,87 Colleague-R 0 0 0 0 0 0
150,250,87 Collaborator-R 0 0 0 0 2 1
150,250,87 Teammate-R 0 0 0 0 0 1

In [97]:

print("data data 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50") 
print("data data Tool Machine Subordinate Colleague Collaborator Teammate")


rowLabels = ['Tool','Machine','Subordinate','Colleague','Collaborator','Teammate']
conditionLabels = ['P','S','R']
colors = {
    0: {
        0: '255,134,77',
        1: '230,120,69',
        2: '191,100,57'
    },
    1: {
        0: '137,255,123',
        1: '102,191,92',
        2: '68,128,61'
    },
    2: {
        0: '255,90,232',
        1: '191,67,175',
        2: '128,45,116'
    },
    3: {
        0: '83,117,255',
        1: '63,89,191',
        2: '42,59,128'
    },
    4: {
        0: '106,255,240',
        1: '80,191,180',
        2: '54,128,120'
    },
    5: {
        0: '210,215,250',
        1: '188,193,224',
        2: '156,160,186'
    }
}

for c in range(0,3):
    for i in range(0,6):
        s = "{} {}-{}".format(colors[i][c], rowLabels[i],conditionLabels[c])
        for j in range(0,6):
            if c == 0:
                s += " {}".format(int(pooledResult[i,j]))
            elif c == 1:
                s += " {}".format(int(sequentialResult[i,j]))
            else:
                s += " {}".format(int(reciprocalResult[i,j]))
        print(s)

data data 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50
data data Tool Machine Subordinate Colleague Collaborator Teammate
255,134,77 Tool-P 0 0 0 1 1 2
137,255,123 Machine-P 1 1 0 0 0 1
255,90,232 Subordinate-P 0 0 0 0 0 0
83,117,255 Colleague-P 0 0 0 0 0 1
106,255,240 Collaborator-P 0 0 0 0 0 1
210,215,250 Teammate-P 0 0 0 2 0 0
230,120,69 Tool-S 0 2 0 0 0 0
102,191,92 Machine-S 1 1 0 0 0 1
191,67,175 Subordinate-S 0 0 0 0 0 0
63,89,191 Colleague-S 0 0 0 0 0 0
80,191,180 Collaborator-S 0 0 0 0 1 0
188,193,224 Teammate-S 0 0 0 0 2 2
191,100,57 Tool-R 0 0 0 0 0 1
68,128,61 Machine-R 0 1 0 1 1 1
128,45,116 Subordinate-R 0 0 0 1 0 0
42,59,128 Colleague-R 0 0 0 0 0 0
54,128,120 Collaborator-R 0 0 0 0 2 1
156,160,186 Teammate-R 0 0 0 0 0 1

# Pooled Plot

In [98]:
print("data data 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50") 
print("data data Tool Machine Subordinate Colleague Collaborator Teammate")


rowLabels = ['Tool','Machine','Subordinate','Colleague','Collaborator','Teammate']
colors = {
    0: '255,134,77',
    1: '137,255,123',
    2: '255,90,232',
    3: '83,117,255',
    4: '106,255,240',
    5: '210,215,250'
}

for i in range(0,6):
    s = "{} {}".format(colors[i], rowLabels[i])
    for j in range(0,6):
        s += " {}".format(int(pooledResult[i,j]))
    print(s)

data data 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50
data data Tool Machine Subordinate Colleague Collaborator Teammate
255,134,77 Tool 0 0 0 1 1 2
137,255,123 Machine 1 1 0 0 0 1
255,90,232 Subordinate 0 0 0 0 0 0
83,117,255 Colleague 0 0 0 0 0 1
106,255,240 Collaborator 0 0 0 0 0 1
210,215,250 Teammate 0 0 0 2 0 0

# Reciprocal Plot

In [99]:
print("data data 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50") 
print("data data Tool Machine Subordinate Colleague Collaborator Teammate")


rowLabels = ['Tool','Machine','Subordinate','Colleague','Collaborator','Teammate']
colors = {
    0: '255,134,77',
    1: '137,255,123',
    2: '255,90,232',
    3: '83,117,255',
    4: '106,255,240',
    5: '210,215,250'
}

for i in range(0,6):
    s = "{} {}".format(colors[i], rowLabels[i])
    for j in range(0,6):
        s += " {}".format(int(reciprocalResult[i,j]))
    print(s)

data data 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50
data data Tool Machine Subordinate Colleague Collaborator Teammate
255,134,77 Tool 0 0 0 0 0 1
137,255,123 Machine 0 1 0 1 1 1
255,90,232 Subordinate 0 0 0 1 0 0
83,117,255 Colleague 0 0 0 0 0 0
106,255,240 Collaborator 0 0 0 0 2 1
210,215,250 Teammate 0 0 0 0 0 1

# Sequential Plot

In [100]:
print("data data 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50") 
print("data data Tool Machine Subordinate Colleague Collaborator Teammate")


rowLabels = ['Tool','Machine','Subordinate','Colleague','Collaborator','Teammate']
colors = {
    0: '255,134,77',
    1: '137,255,123',
    2: '255,90,232',
    3: '83,117,255',
    4: '106,255,240',
    5: '210,215,250'
}

for i in range(0,6):
    s = "{} {}".format(colors[i], rowLabels[i])
    for j in range(0,6):
        s += " {}".format(int(sequentialResult[i,j]))
    print(s)

data data 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50 50,50,50
data data Tool Machine Subordinate Colleague Collaborator Teammate
255,134,77 Tool 0 2 0 0 0 0
137,255,123 Machine 1 1 0 0 0 1
255,90,232 Subordinate 0 0 0 0 0 0
83,117,255 Colleague 0 0 0 0 0 0
106,255,240 Collaborator 0 0 0 0 1 0
210,215,250 Teammate 0 0 0 0 2 2